<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "E Commerce" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">


  </head>

  <body >
  <nav class='navbar'>
  
    <% if user_signed_in? %>
    <div>
    <%= link_to "E-COMMERCE" ,new_user_registration_path  %>
    </div>
    <div>
        <% if current_user.admin? %>
        <p>Admin Dashbord</p>
<%else%>
   <p>Welcome</p>
    <%end%>
    </div>
    <div>
    <% if !current_user.admin? %>
     <%= link_to  cart_path do%><i class="fas fa-shopping-cart"></i> <span></span><%end%>
     <%end%>
    <%= link_to  destroy_user_session_path, method: :delete, data: { turbo_method: :delete } do %>
  <i class="fas fa-sign-out-alt"></i> <span>Logout</span>
  <%end%>
    </div>
  
   
  
  
 <%
=begin%>
 <%= link_to  new_order_path do%><i class="fas fa-credit-card"></i> <span>Checkout</span><%end%> 
<%
=end%>

 
  
  
<% else %>
<div>
 <%= link_to  new_user_session_path do%><i class="fas fa-sign-in-alt"></i> <span>Login</span><%end%>
  <%= link_to  new_user_registration_path do %><i class="fas fa-user-plus"> </i><span>Sign Up</span><%end%>
</div>
 
  

<% end %>
  </nav>
<div class='container'>
  <%= yield %>
</div>
<footer class="footer">
      <div class="footer-content">
        <p>&copy; <%= Time.now.year %> E-commerce. All rights reserved.</p>
        
      </div>
    </footer>
  
  </body>
</html>
